
<%= form_with model: team do |f| %>

  If your team has already been created, you must ask the owner of the team to add you to it
  <div class="form-inputs">
    <%= f.text_field :name, class:'form-control string' %>

    <%= f.label :logo, class:'form-control' %>
    <%= f.file_field :logo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
